In [68]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.svm import SVR
import random as rn
import math
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [69]:
df = pd.read_csv("D:\\MODELLING\\PROJECT2\\CODE\\finalDataset.csv")

In [70]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA5,MA10,MA20,DIF,MACD,KDJ.K,KDJ.D,PSYMA6,RSI6,RSI12,BIAS6,BIAS24
0,8/18/2014,5.650,5.650,5.620,5.645,5.645,129425.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8/19/2014,5.625,5.695,5.625,5.670,5.670,1035966.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/20/2014,5.640,5.675,5.630,5.665,5.665,425584.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8/21/2014,5.640,5.640,5.595,5.618,5.618,37287.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8/22/2014,5.665,5.675,5.655,5.668,5.668,956503.0,5.6532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
df = df.iloc[31:]

In [74]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA5,MA10,MA20,DIF,MACD,KDJ.K,KDJ.D,PSYMA6,RSI6,RSI12,BIAS6,BIAS24
31,9/30/2014,6.095000,6.120000,6.045000,6.085000,6.085000,526018.0000,6.044600,5.959400,6.292526,-0.031992,-0.043737,89.393939,83.310860,0.5,84.653465,53.188776,1.217044,-1.682733
32,10/1/2014,9.117578,9.173124,9.058773,9.118762,9.118762,108976.8483,6.661352,6.284976,6.451814,0.198894,0.012312,98.393131,89.918095,0.5,98.173657,91.513651,39.069954,43.885515
33,10/2/2014,6.090000,6.090000,5.980000,6.003000,6.003000,385568.0000,6.662352,6.293276,6.296026,0.145111,0.042067,6.295956,64.694342,0.5,49.746977,51.057923,-8.373904,-5.514342
34,10/6/2014,6.145000,6.245000,6.130000,6.150000,6.150000,629111.0000,6.679352,6.314776,6.147588,0.112380,0.057451,10.641053,38.443380,0.5,51.181312,52.078950,-6.491757,-3.485434
35,10/7/2014,6.185000,6.185000,6.120000,6.120000,6.120000,185961.0000,6.695352,6.346276,6.147338,0.083226,0.062986,9.754298,8.897102,0.5,50.429921,51.454435,-7.077406,-4.151781

In [75]:
df = df.dropna()

In [76]:
X = df.drop('Adj Close', axis=1)
X = X.drop('Date', axis=1)
y = df['Adj Close']

In [79]:
X.head()

,Open,High,Low,Close,Volume,MA5,MA10,MA20,DIF,MACD,KDJ.K,KDJ.D,PSYMA6,RSI6,RSI12,BIAS6,BIAS24
31,6.095000,6.120000,6.045000,6.085000,526018.0000,6.044600,5.959400,6.292526,-0.031992,-0.043737,89.393939,83.310860,0.5,84.653465,53.188776,1.217044,-1.682733
32,9.117578,9.173124,9.058773,9.118762,108976.8483,6.661352,6.284976,6.451814,0.198894,0.012312,98.393131,89.918095,0.5,98.173657,91.513651,39.069954,43.885515
33,6.090000,6.090000,5.980000,6.003000,385568.0000,6.662352,6.293276,6.296026,0.145111,0.042067,6.295956,64.694342,0.5,49.746977,51.057923,-8.373904,-5.514342
34,6.145000,6.245000,6.130000,6.150000,629111.0000,6.679352,6.314776,6.147588,0.112380,0.057451,10.641053,38.443380,0.5,51.181312,52.078950,-6.491757,-3.485434
35,6.185000,6.185000,6.120000,6.120000,185961.0000,6.695352,6.346276,6.147338,0.083226,0.062986,9.754298,8.897102,0.5,50.429921,51.454435,-7.077406,-4.151781

In [80]:
y.head()

31    6.085000
32    9.118762
33    6.003000
34    6.150000
35    6.120000
Name: Adj Close, dtype: float64

In [81]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=1)

In [82]:
def sigmoid(x):
    return (1/(1 + math.exp(-x)))

In [83]:
def svrCheck(X_train, y_train, X_val, y_val, sol):
    clf = SVR(gamma = 'auto', C = sol[0], epsilon = sol[1])
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_val)
    return (mean_squared_error(y_val, y_pred))

In [84]:
def randGenSol(n, d = 2):
    S = []
    for i in range(n):
        l = []
        l.append(rn.uniform(1,10))
        l.append(rn.random())
        S.append(l)
    #S = np.random.rand(n,2)
    return S

In [85]:
def clustProbGen(clus, n, m):
    clus = list(clus)
    uc = list(set(clus))
    p = [1/len(uc)]*len(uc)
    for i in range(m):
        p[i] = clus.count(i)/n
    return p

In [86]:
def probCheck(p):
    r = rn.random()
    if (r < p):
        return True
    return False

In [87]:
def stepFun(t, T, k = 0.5):
    x = ((0.5 * T- t)/k)
    res = sigmoid(x) * rn.uniform(0,1)
    return res

In [88]:
def genNewSol(x, t, T):
    n = len(x)
    y = [0]*n
    for i in range(n):
        y[i] = x[i] + stepFun(t, T) * rn.uniform(0,1)
    if(y[1] > 1):
        y[1] = sigmoid(y[1])
    return y

In [89]:
def combineTwoSol(x1, x2):
    n = len(x1)
    x = [0]*n
    r = rn.random()
    for i in range(n):
        x[i] = (r * x1[i]) + ((1-r) * x2[i])
    return x

In [90]:
def selClustCenters(X_train, y_train, X_val, y_val, S, lab, m):
    err = []
    cC = [[0,0]]*m
    cE = [9999]*m
    best = 0
    for i in S:
            err.append(svrCheck(X_train, y_train, X_val, y_val, i))
            j = 0
    for i in lab:
        if(err[j] < cE[i]):
            cE[i] = err[j]
            cC[i] = j
        if(cE[i] < cE[best]):
            best = i
        j += 1
    return cC, best

In [91]:
def bso(X_train, y_train, X_val, y_val, n, m):
    pClustering = 0.5
    pGeneration = 0.5
    pOneCluster = 0.5
    pTwoCLuster = 1 - pOneCluster
    T = 10 # max iterations
    
    Solutions = randGenSol(n)
    for t in range(T):
        kmeans = KMeans(n_clusters = m, random_state = 0).fit(Solutions)
        prob = clustProbGen(kmeans.labels_, n, m)
        cCenters, best = selClustCenters(X_train, y_train, X_val, y_val, Solutions, kmeans.labels_, m)
        #print(svrCheck(X_train, y_train, X_val, y_val, Solutions[cCenters[best]]))
        if(probCheck(pClustering)):
            index = rn.choice(cCenters)
            new = randGenSol(1)[0]
            Solutions[index] = new
        newSols = []
        for i in range(n):
            flag = 0
            if(probCheck(pGeneration)):
                flag = 1
                selCluster = rn.choices(range(m), prob)[0]
                if(probCheck(pOneCluster)):
                    #print("Case-1")
                    index = cCenters[selCluster]
                    new = genNewSol(np.array(Solutions)[index], t, T)
                else:
                    #print("Case-2")
                    sel = list(rn.choice(np.array(Solutions)[kmeans.labels_ == selCluster]))
                    new = genNewSol(sel, t, T)
                    index = Solutions.index(sel)
            else:
                flag = 2
                selCluster1, selCluster2 = rn.choices(range(m), prob, k = 2)
                if(probCheck(pTwoCLuster)):
                    #print("Case-3")
                    index1 = cCenters[selCluster1]
                    index2 = cCenters[selCluster2]
                    comb = combineTwoSol(np.array(Solutions)[index1], Solutions[index2])
                    new = genNewSol(comb, t, T)
                else:
                    #print("Case-4")
                    sel1 = list(rn.choice(np.array(Solutions)[kmeans.labels_ == selCluster1]))
                    sel2 = list(rn.choice(np.array(Solutions)[kmeans.labels_ == selCluster2]))
                    comb = combineTwoSol(sel1, sel2)
                    new = genNewSol(comb, t, T)
                    index1 = Solutions.index(sel1)
                    index2 = Solutions.index(sel2)
            if(flag == 1):
                if(svrCheck(X_train, y_train, X_val, y_val, new) < svrCheck(X_train, y_train, X_val, y_val, Solutions[index])):
                    Solutions[index] = new
            elif(flag == 2):
                if(svrCheck(X_train, y_train, X_val, y_val, new) < svrCheck(X_train, y_train, X_val, y_val, Solutions[index1])):
                    Solutions[index1] = new
                elif(svrCheck(X_train, y_train, X_val, y_val, new) < svrCheck(X_train, y_train, X_val, y_val, Solutions[index2])):
                    Solutions[index2] = new 
    
    cCenters, best = selClustCenters(X_train, y_train, X_val, y_val, Solutions, kmeans.labels_, m)
    print("Validation MSE:", svrCheck(X_train, y_train, X_val, y_val, Solutions[cCenters[best]]))
    return Solutions[cCenters[best]]

In [92]:
best = bso(X_train, y_train, X_val, y_val, 10, 3)
print("Parameters :", best)
print("Test MSE:", svrCheck(X_train, y_train, X_test, y_test, best))

Validation MSE: 2.024999049379751
Parameters : [8.737215320992568, 0.8508214375274782]
Test MSE: 1.5793755565857028

In [93]:
best = bso(X_train, y_train, X_val, y_val, 100, 10)
print("Parameters :", best)
print("Test MSE:", svrCheck(X_train, y_train, X_test, y_test, best))

Validation MSE: 2.0249989291933996
Parameters : [5.864117867747634, 0.8496520069673488]
Test MSE: 1.579335830142987

In [94]:
best = bso(X_train, y_train, X_val, y_val, 100, 8)
print("Parameters :", best)
print("Test MSE:", svrCheck(X_train, y_train, X_test, y_test, best))

Validation MSE: 2.0249989283544614
Parameters : [9.457777713021448, 0.8495463400206772]
Test MSE: 1.579332237497984

In [95]:
best = bso(X_train, y_train, X_val, y_val, 100, 5)
print("Parameters :", best)
print("Test MSE:", svrCheck(X_train, y_train, X_test, y_test, best))

Validation MSE: 2.0249989302453364
Parameters : [7.187219952559961, 0.849705054385715]
Test MSE: 1.5793376343703263

In [96]:
best = bso(X_train, y_train, X_val, y_val, 20, 5)
print("Parameters :", best)
print("Test MSE:", svrCheck(X_train, y_train, X_test, y_test, best))

Validation MSE: 2.024998931266861
Parameters : [7.827076296805974, 0.8493490215655689]
Test MSE: 1.5793255332077263

In [97]:
best = bso(X_train, y_train, X_val, y_val, 20, 5)
print("Parameters :", best)
print("Test MSE:", svrCheck(X_train, y_train, X_test, y_test, best))

Validation MSE: 2.0249989284340915
Parameters : [8.200872756074029, 0.849578788618396]
Test MSE: 1.5793333405627377

In [98]:
best = bso(X_train, y_train, X_val, y_val, 20, 5)
print("Parameters :", best)
print("Test MSE:", svrCheck(X_train, y_train, X_test, y_test, best))

Validation MSE: 2.0249989284062013
Parameters : [5.03105066209158, 0.8495724661864001]
Test MSE: 1.579333125624221

In [99]:
best = bso(X_train, y_train, X_val, y_val, 20, 5)
print("Parameters :", best)
print("Test MSE:", svrCheck(X_train, y_train, X_test, y_test, best))

Validation MSE: 2.0249989286407613
Parameters : [7.017691645909566, 0.8494843699387006]
Test MSE: 1.5793301313117754